# Compiled output
frontend/dist
frontend/tmp
frontend/out-tsc
frontend/bazel-out

# Node
frontend/node_modules
frontend/npm-debug.log
frontend/yarn-error.log

# Visual Studio Code
frontend/.vscode/*
frontend/!.vscode/settings.json
frontend/!.vscode/tasks.json
frontend/!.vscode/launch.json
frontend/!.vscode/extensions.json
frontend/.history/*

# Miscellaneous
frontend/.angular/cache
frontend/.sass-cache/
frontend/connect.lock
frontend/coverage
frontend/libpeerconnection.log
frontendtestem.log
frontend/typings

# Backend Files
backend/.env
backend/node_modules
backend/package-lock.json
backend/dist
backend/build
backend/npm-debug.log
backend/yarn-error.log

# System Files
.DS_Store
Thumbs.db