# Compiled output
/dist

# Node
/node_modules

# Visual Studio Code
/.vscode/*
/!.vscode/settings.json
/!.vscode/tasks.json
/!.vscode/launch.json
/!.vscode/extensions.json
/.history/*

# System Files
.DS_Store
Thumbs.db

# Angular
/.angular/*