<!-- <footer class="footer">
    <div class="footer-section">
        <h2>Ubicación</h2>
        <a href="#" class="map-link">Ampliar el mapa</a>
        <div class="hotel-name">Hotel Tesoro Manzanillo</div>
        <div class="google-bot">GoogleBotGif (Tesoro Manzanillo)<br>Dé que dibuye de mapas. Eliminaron la reducción en problemas de uso.</div>
        <a href="#" class="destination-link">Conoce más del destino</a>
    </div>
    
    <div class="footer-section">
        <h2>Empresa</h2>
        <ul class="footer-list">
            <li><a href="#">Tesoro Resorts</a></li>
            <li><a href="#">Tesoro Los Cabos</a></li>
            <li><a href="#">Tesoro Manzanillo</a></li>
            <li><a href="#">Tesoro Ixtapa</a></li>
            <li><a href="#">Tesoro Rewards</a></li>
            <li><a href="#">Club Tesoro</a></li>
        </ul>
    </div>
    
    <div class="footer-section">
        <h2>Links</h2>
        <ul class="footer-list">
            <li><a href="#">Todo Incluido</a></li>
            <li><a href="#">Cantaciones</a></li>
            <li><a href="#">Aviso Legal</a></li>
            <li><a href="#">Aviso de Privacidad</a></li>
        </ul>
    </div>
    
    <div class="copyright">
        Proyecto Universitario. © 2025 Todos los Devechos Reservados
    </div>
</footer> -->

<p>footer</p>