<div class="oferts">
    <img src="images/oferta.jpg" class="img-fluid w-100" alt="Oferta Principal">

    <div class="oferts-text">
        <h1>Ofertas</h1>
    </div>
</div>

<section class="oferts-section">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="flip-card">
                    <div class="card-front">
                        <img src="images/oferta1.jpg" alt="Car1" class="card-icon">
                    </div>
                    <div class="card-back">
                        <h3 class="card-title">Oferta X</h3>
                        <p class="card-text">Texto X.</p>
                    </div>
                </div>
            </div>

            <div class="carousel-item active">
                <div class="flip-card">
                    <div class="card-front">
                        <img src="images/oferta2.jpg" alt="Car1" class="card-icon">
                    </div>
                    <div class="card-back">
                        <h3 class="card-title">Oferta X</h3>
                        <p class="card-text">Texto X.</p>
                    </div>
                </div>
            </div>

            <div class="carousel-item active">
                <div class="flip-card">
                    <div class="card-front">
                        <img src="images/oferta3.jpg" alt="Car1" class="card-icon">
                    </div>
                    <div class="card-back">
                        <h3 class="card-title">Oferta X</h3>
                        <p class="card-text">Texto X.</p>
                    </div>
                </div>
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>    
</section>