.oferts {
    position: relative;
    display: block;
}

.oferts img {
    height: 50vh;
    object-fit: cover;
    filter: brightness(55%);
}

.oferts-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -40%);
    padding: 10px 20px;
    width: 100%;
}

.oferts-text h1 {
    font-size: 8rem;
    font-weight: bold;
    background: inherit;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
    -webkit-text-stroke: 6px rgb(219, 186, 0);
}

.oferts-section {
    padding: 2rem 0;
    width: 80%;
    margin: 2rem auto;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.carousel-item {
    position: relative;
    text-align: center;
}

.info-box {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 15px 25px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 80%;
}

.info-box p {
    margin: 0;
    font-size: 16px;
    color: #333;
}