<h2 mat-dialog-title class="text-center p-2">Editar Servicio</h2>
<mat-dialog-content>
  <form>
    <!-- Nombre -->
    <mat-form-field class="w-full">
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="servicio.nombre" name="nombre" />
    </mat-form-field>

    <!-- Nombre Publico -->
    <mat-form-field class="w-full">
      <mat-label>Nombre Público</mat-label>
      <input
        matInput
        [(ngModel)]="servicio.nombrePublico"
        name="nombrePublico"
      />
    </mat-form-field>

    <!-- Email -->
    <mat-form-field class="w-full">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="servicio.email" name="email" />
    </mat-form-field>

    <!-- Informacion Extra -->
    <mat-form-field class="w-full">
      <mat-label>Informacion extra</mat-label>
      <input matInput [(ngModel)]="servicio.duda" name="duda" />
    </mat-form-field>

    <!-- Fecha -->
    <mat-form-field appearance="outline" class="w-100 mb-3">
      <mat-label>Selecciona una fecha</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        name="fechaParticular"
        [(ngModel)]="servicio.fechaParticular"
        #fechaCtrl="ngModel"
        [min]="minFecha"
        required
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>

      @if (fechaCtrl.invalid && fechaCtrl.touched) {
      <mat-error
        >Debes seleccionar una fecha válida (hoy o posterior).</mat-error
      >
      }
    </mat-form-field>

    <!-- Reservacion  -->
    <div class="mt-3">
      <label class="fw-bold d-block mb-2 text-black">¿Cuentas con reservación?</label>
      <mat-radio-group
        name="cuentaReservacion"
        required
        [(ngModel)]="servicio.cuentaReservacion"
        #reservacionCtrl="ngModel"
        class="d-block">
        <mat-radio-button value="si" class="me-3">Sí</mat-radio-button>
        <mat-radio-button value="no">No</mat-radio-button>
      </mat-radio-group>

      @if (reservacionCtrl.invalid && reservacionCtrl.touched) {
      <div class="text-danger small mt-1">Debes seleccionar una opción.</div>
      }
    </div>

    <div class="checkbox-container">
      <mat-checkbox
        name="aceptaFAQ"
        required
        [(ngModel)]="servicio.aceptaFAQ"
        #aceptaCtrl="ngModel">
        Acepto enviar esta reservación de servicio. Recuerda que puedes
        solicitar cambios.
      </mat-checkbox>
      @if (aceptaCtrl.invalid && aceptaCtrl.touched) {
        <div class="text-danger small mt-1">Debes aceptar para continuar.</div>
      }
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSave()">Guardar Cabios</button>
</mat-dialog-actions>
