<div class="services">
    <img src="images/servicios.jpg" class="img-fluid w-100" alt="Servicios">

    <div class="services-text">
        <h1>Servicios</h1>
    </div>
</div>

<section class="hotel-text">
    <img src="images/serv.jpg" alt="Hotel">
    <div class="text">
        <h2>Nuestros Servicios <strong>Exclusivos</strong></h2>
        <hr>
        <p class="p-texto">
            En este asombroso Hotel, lo más importante es la comodidad de nuestros huespedes.
        </p>
        <p class="p-reserva"><strong>¡Miralos Por ti Mismo!</strong></p>
    </div>
</section>

@if (losServicios.length > 0) {
    <section class="services-section">
        <h2 class="text-center p-2"><strong>Servicios</strong></h2>
        <div class="row">
            @for (s of losServicios; track s) {
            <div class="col-md-4 mb-4 card-container">
                <a [routerLink]="['/servicio', s.id]" class="text-decoration-none">
                    <div class="card h-100">
                        <img [src]="s.image" class="card-img-top c-img" alt="Imagen de {{s.title}}">
                        <div class="card-body">
                            <h5 class="card-title">{{s.title}}</h5>
                            <p class="card-text">{{s.info}}</p>
                        </div>
                    </div>
                </a>
            </div>
            }
        </div>
    </section>
} @else {
    <div class="cargando-container">
        <h1>Obteniendo los mejores servicios para usted</h1>
        <mat-spinner class="gold-spinner" diameter="80" strokeWidth="6"></mat-spinner>
    </div>
}