<div class="services">
    <img src="images/servicios.jpg" class="img-fluid w-100" alt="Servicios">

    <div class="services-text">
        <h1>Servicios</h1>
    </div>
</div>

<section class="services-section">
    <div class="row">
        @for (s of services; track s) {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img [src]="s.image" class="card-img-top c-img" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{s.title}}</h5>
                        <p class="card-text">{{s.info}}</p>
                    </div>
                </div>
            </div>
        }
    </div>
</section>