<!-- admin.component.html -->
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="servicios" class="full-width-table">
    <!-- Número de Registro -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element; index as i">{{ i + 1 }}</td>
    </ng-container>

    <!-- Nombre -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
    </ng-container>

    <!-- Nombre Público -->
    <ng-container matColumnDef="nombrePublico">
      <th mat-header-cell *matHeaderCellDef>Nombre Público</th>
      <td mat-cell *matCellDef="let element">{{ element.nombre_publico }}</td>
    </ng-container>

    <!-- Email -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.correo }}</td>
    </ng-container>

    <!-- Información Adicional -->
    <ng-container matColumnDef="extra">
      <th mat-header-cell *matHeaderCellDef>Extra</th>
      <td mat-cell *matCellDef="let element">{{ element.info }}</td>
    </ng-container>

    <!-- Fecha -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let element">{{ element.fecha }}</td>
    </ng-container>

    <!-- Reservacion -->
    <ng-container matColumnDef="reservacion">
      <th mat-header-cell *matHeaderCellDef>Reservacion</th>
      <td mat-cell *matCellDef="let element">{{ (element.reservacion ? "✓" : "✕") }}</td>
    </ng-container>

    <!-- Aceptación FAQ -->
    <ng-container matColumnDef="aceptacion">
      <th mat-header-cell *matHeaderCellDef>Aceptó</th>
      <td mat-cell *matCellDef="let element">
        {{ element.aceptacion ? "✓" : "✕" }}
      </td>
    </ng-container>

    <!-- Acciones -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element; index as i">
        <button mat-icon-button color="warn" (click)="eliminarServicio.emit(i)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="abrirDialogoEdicion(i)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns"
        [ngClass]="{
          'row-hover': hoveredRowIndex === i,
          'row-selected': highlightedRowIndex === i
        }"
        (mouseenter)="setHoveredRow(i)"
        (mouseleave)="clearHoveredRow()"
        (click)="toggleSelectedRow(i)">
    </tr>

  </table>
</div>
