<div class="imagen-container">
  <img src="images/admin.jfif" class="img-fluid w-100" alt="Alojamiento" />
  <div class="imagen-text">
    <h1>Dashboard</h1>
  </div>
</div>

<div 
  class="card custom-card p-3 rounded-4 shadow mx-auto mt-2 mb-4" 
  [ngStyle]="{
    'box-shadow': isActive 
      ? '0 0 25px rgba(247, 212, 76, 0.6), 0 0 15px rgba(247, 212, 76, 0.4), inset 0 0 20px rgba(247, 212, 76, 0.2)' 
      : '0 2px 8px rgba(0, 0, 0, 0.6), inset 0 0 5px rgba(247, 212, 76, 0.05)',
    'border': isActive ? '3px solid rgba(247, 212, 76, 0.85)' : '2px solid rgba(247, 212, 76, 0.3)',
    'transform': isActive ? 'scale(1.05)' : 'scale(1)',
    'transition': 'all 0.3s ease',
    'max-width': '400px',
    'animation': isActive ? 'goldenPulse 3s infinite ease-in-out' : 'none'
  }"
  (mouseenter)="toggleActive()" 
  (mouseleave)="toggleActive()"
>
  <h4 class="card-title mb-3 title-gold text-center cardBienvenida">Bienvenido al Dashboard</h4>

  <p class="mb-1 text-center"><strong class="label-gold">ID: </strong> <span class="text-white-50">{{ id }}</span></p>
  <p class="mb-3 text-center"><strong class="label-gold">Nombre: </strong> <span class="text-white-50">{{ adminName }}</span></p>
  <img src="admins/admin{{id}}.jpg" alt="Admin" class="img-admin">
</div>

<h4 class="card-title mb-3 text-center">Tabla de <small style="color: gold; font-size: 24px;">Gestion de Servicio</small></h4>
@if(servicios.length > 0) {
  <div class="tablaTemplate">
    <app-admin 
      [servicios]="servicios" 
      (eliminarServicio)="eliminarServicio($event)"
      (editarServicio)="editarServicio($event)"
    ></app-admin>
  </div>
} @else {
  <h4 class="card-title mb-3 text-center" style="color:dimgray; font-size: 24px;">No se encontraron servicios</h4>
}

<h4 class="card-title mb-3 text-center">Tabla de <small style="color: gold; font-size: 24px;">Gestion de Reservas</small></h4>
@if (reservaciones.length > 0) {
  <div class="tablaReactiva">
    <app-admin-reactive 
      [reservaciones]="reservaciones"
      (eliminarReservacion)="eliminarReservacion($event)"
      (editarReservacion)="editarReservacion($event)">
    </app-admin-reactive>
  </div>
} @else {
  <h4 class="card-title mb-3 text-center" style="color:dimgray; font-size: 24px;">No se encontraron reservaciones</h4>
}

<div class="my-4">
  @if (reservaciones.length > 0) {
   <div echarts [options]="chartOptions" class="chart" ></div>
} @else {
  <h4 class="card-title mb-0 text-center" style="color: black; font-size: 24px;">Gráfica no disponible</h4>
  <h4 class="card-title mb-3 text-center" style="color:dimgray; font-size: 24px;">No se encontraron reservaciones</h4>
}
</div>